body {
	box-sizing: border-box;
	color: rgb(32, 33, 36);
  font-family: Inter, Roboto, Arial, sans-serif;
  margin: 0;
}

nav {
  background-color: white;
	box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 2px 6px 2px rgba(60, 64, 67, .15);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
	padding: 1.25rem 1.5rem 1.25rem 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

nav, nav a {
  color: rgb(95, 99, 104);
  text-decoration: none;
}

nav .title {
	font-size: 1.25rem;
}

.title .gBlue, h1 .gBlue {
	color: rgb(66, 133, 244);
}

.title .gRed, h1 .gRed {
	color: rgb(234, 67, 53);
}

.title .gYellow, h1 .gYellow {
	color: rgb(251, 188, 4);
}

.title .gGreen, h1 .gGreen {
	color: rgb(52, 168, 83);
}

nav > .links {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
}

nav .links a {
  font-size: 0.875rem;
  font-weight: 300;
  margin-left: 1rem;
}

nav .links a:hover {
  color: #1a73e8;
}

section {
  overflow: auto;
  padding: 3.75rem 1rem;
}

section:nth-of-type(1) {
  margin-top: 4rem;
}

section > div {
  margin: auto;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
  margin: 0;
}
